html {
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.08turn, #3f87a6, #ebf8e1, #f69d3c);
  min-height: 100vh;
}
.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 6px;
  padding: 40px;
  box-shadow: 5px 5px 5px rgba(255, 166, 0, 0.35);
  background: linear-gradient(rgb(236, 236, 236), white, whitesmoke);
}
.shop-container {
  display: flex;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: center;
}
button {
  color: white;
  background-color: orange;
  border: 1px solid orangered;
  border-radius: 12px;
  padding: 8px;
  margin: 6px;
  cursor: pointer;
}
button:hover {
  background-color: orangered;
  border: 1px solid orange;
  transform: scale(0.95);
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid orange;
  border-radius: 4px;
  width: 41vw;
  padding: 1px 12px 30px 1px;
}
.super-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid orange;
  border-radius: 6px;
}
.cart-upper,
.cart-lower {
  padding: 20px;
}
.cart-list {
  display: flex;
  flex-direction: column;
}
.item-list {
  display: flex;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border: 2px solid orange;
  min-width: 10vw;
  border-radius: 4px;
}
